### Problem Statement

A hospital readmission is when a patient who is discharged from the hospital, gets re-admitted again within a certain period of time. Hospital readmission rates for certain conditions are now considered an indicator of hospital quality, and also affect the cost of care adversely. For this reason, Centers for Medicare & Medicaid Services established the Hospital Readmissions Reduction Program which aims to improve quality of care for patients and reduce health care spending by applying payment penalties to hospitals that have more than expected readmission rates for certain conditions. Although diabetes is not yet included in the penalty measures, the program is regularly adding new disease conditions to the list, now totaling 6 for FY2018. In 2011, American hospitals spent over $41 billion on diabetic patients who got readmitted within 30 days of discharge. Being able to determine factors that lead to higher readmission in such patients, and correspondingly being able to predict which patients will get readmitted can help hospitals save millions of dollars while improving quality of care. So, with that background in mind, we used a medical claims dataset (description below), to answer these questions:

1. What factors are the strongest predictors of hospital readmission in diabetic patients?
2. How well can we predict hospital readmission in this dataset with limited features?

# Data Set Description


**VARIABLE NAMES**: DESCRIPTION
* **Encounter ID**	Unique identifier of an encounter
* **Patient number**	Unique identifier of a patient
* **Race**	Values: Caucasian, Asian, African American, Hispanic, and other
* **Gender**	Values: male, female, and unknown/invalid
* **Age**	Grouped in 10-year intervals: 0, 10), 10, 20), …, 90, 100)
* **Weight**	Weight in pounds
* **Admission type**	Integer identifier corresponding to 9 distinct values, for example, emergency, urgent, elective, newborn, and not available
* **Discharge disposition**	Integer identifier corresponding to 29 distinct values, for example, discharged to home, expired, and not available
* **Admission source**	Integer identifier corresponding to 21 distinct values, for example, physician referral, emergency room, and transfer from a hospital
* **Time in hospital**	Integer number of days between admission and discharge
* **Payer code**	Integer identifier corresponding to 23 distinct values, for example, Blue Cross/Blue Shield, Medicare, and self-pay Medical
* **Medical specialty**	Integer identifier of a specialty of the admitting physician, corresponding to 84 distinct values, for example, cardiology, internal medicine, family/general practice, and surgeon
* **Number of lab procedures**	Number of lab tests performed during the encounter
* **Number of procedures** Numeric	Number of procedures (other than lab tests) performed during the encounter
* **Number of medications**	Number of distinct generic names administered during the encounter
* **Number of outpatient visits** Number of outpatient visits of the patient in the year preceding the encounter
* **Number of emergency visits**	Number of emergency visits of the patient in the year preceding the encounter
* **Number of inpatient visits**	Number of inpatient visits of the patient in the year preceding the encounter
* **Diagnosis 1**	The primary diagnosis (coded as first three digits of ICD9); 848 distinct values
* **Diagnosis 2**	Secondary diagnosis (coded as first three digits of ICD9); 923 distinct values
* **Diagnosis 3** Additional secondary diagnosis (coded as first three digits of ICD9); 954 distinct values
* **Number of diagnoses**	Number of diagnoses entered to the system 0%
* **Glucose serum test result**	Indicates the range of the result or if the test was not taken. Values: “>200,” “>300,” “normal,” and “none” if not measured
* **A1c test result**	Indicates the range of the result or if the test was not taken. Values: “>8” if the result was greater than 8%, “>7” if the result was greater than 7% but less than 8%, “normal” if the result was less than 7%, and “none” if not measured.
* **Change of medications**	Indicates if there was a change in diabetic medications (either dosage or generic name). Values: “change” and “no change”
* **Diabetes medications**	Indicates if there was any diabetic medication prescribed. Values: “yes” and “no”
* 24 features for medications	For the generic names: **metformin, repaglinide, nateglinide, chlorpropamide, glimepiride, acetohexamide, glipizide, glyburide, tolbutamide, pioglitazone, rosiglitazone, acarbose, miglitol, troglitazone, tolazamide, examide, sitagliptin, insulin, glyburide-metformin, glipizide-metformin, glimepiride- pioglitazone, metformin-rosiglitazone, and metformin- pioglitazone**, the feature indicates whether the drug was prescribed or there was a change in the dosage. Values: “up” if the dosage was increased during the encounter, “down” if the dosage was decreased, “steady” if the dosage did not change, and “no” if the drug was not prescribed
* **Readmitted**	Days to inpatient readmission. Values: “<30” if the patient was readmitted in less than 30 days, “>30” if the patient was readmitted in more than 30 days, and “No” for no record of readmission

### Data Preparation & Exploration

In [2]:
#Loading libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#loading Dataset
df = pd.read_csv(r"C:\Users\pelux\Desktop\Emmanuel\diabetic_data.csv")

In [6]:
#displaying first 10 rows of data
df.head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),?,2,1,2,3,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),?,1,1,7,5,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),?,2,1,4,13,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),?,3,3,4,12,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [7]:
#checking shape of the dataset
df.shape

(101766, 50)

In [8]:
#Checking data types of each variable
df.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

In [10]:
#Checking for unique variable
df.nunique()

encounter_id                101766
patient_nbr                  71518
race                             6
gender                           3
age                             10
weight                          10
admission_type_id                8
discharge_disposition_id        26
admission_source_id             17
time_in_hospital                14
payer_code                      18
medical_specialty               73
num_lab_procedures             118
num_procedures                   7
num_medications                 75
number_outpatient               39
number_emergency                33
number_inpatient                21
diag_1                         717
diag_2                         749
diag_3                         790
number_diagnoses                16
max_glu_serum                    4
A1Cresult                        4
metformin                        4
repaglinide                      4
nateglinide                      4
chlorpropamide                   4
glimepiride                      4
acetohexamide                    2
glipizide                        4
glyburide                        4
tolbutamide                      2
pioglitazone                     4
rosiglitazone                    4
acarbose                         4
miglitol                         4
troglitazone                     2
tolazamide                       3
examide                          1
citoglipton                      1
insulin                          4
glyburide-metformin              4
glipizide-metformin              2
glimepiride-pioglitazone         2
metformin-rosiglitazone          2
metformin-pioglitazone           2
change                           2
diabetesMed                      2
readmitted                       3
dtype: int64

In [11]:
df.isnull().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [14]:
#Checking for missing values in dataset
#In the dataset missing values are represented as '?' sign
for col in df.columns:
    if df[col].dtype == object:
         print(col,df[col][df[col] == '?'].count())

race 2273
gender 0
age 0
weight 98569
payer_code 40256
medical_specialty 49949
diag_1 21
diag_2 358
diag_3 1423
max_glu_serum 0
A1Cresult 0
metformin 0
repaglinide 0
nateglinide 0
chlorpropamide 0
glimepiride 0
acetohexamide 0
glipizide 0
glyburide 0
tolbutamide 0
pioglitazone 0
rosiglitazone 0
acarbose 0
miglitol 0
troglitazone 0
tolazamide 0
examide 0
citoglipton 0
insulin 0
glyburide-metformin 0
glipizide-metformin 0
glimepiride-pioglitazone 0
metformin-rosiglitazone 0
metformin-pioglitazone 0
change 0
diabetesMed 0
readmitted 0

### Dealing with Missing Values

Variable weight contains approximate 98% of the missing values so there is no significance in filling those missing values so we decided to drop these variables. Variable Payer code and medical specialty contains approximate 40% missing values so we also dropped these variables. Variables race, diag_1, diag_2, diag_3 and gender contains very less missing values as compared to other attributes which we dropped so for these attributes we also decided to drop those where missing values contains.

In [15]:
#dropping columns with large number of missing values
df = df.drop(['weight','payer_code','medical_specialty'], axis = 1)

In [16]:
#displaying first 10 rows of data
df.head(10)

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
5,35754,82637451,Caucasian,Male,[50-60),2,1,2,3,31,...,No,Steady,No,No,No,No,No,No,Yes,>30
6,55842,84259809,Caucasian,Male,[60-70),3,1,2,4,70,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
7,63768,114882984,Caucasian,Male,[70-80),1,1,7,5,73,...,No,No,No,No,No,No,No,No,Yes,>30
8,12522,48330783,Caucasian,Female,[80-90),2,1,4,13,68,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
9,15738,63555939,Caucasian,Female,[90-100),3,3,4,12,33,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [18]:
df.shape

(101766, 47)

In [19]:
# Replace "?" with NaN in the specified columns
df.replace("?", pd.NA, inplace=True)

# Drop rows with missing values in the specified columns
df.dropna(subset=["diag_1", "diag_2", "diag_3", "race"], inplace=True)

# Reset the index of the DataFrame if needed
df.reset_index(drop=True, inplace=True)

In [20]:
#Checking for missing values in dataset
#In the dataset missing values are represented as '?' sign
for col in df.columns:
    if df[col].dtype == object:
         print(col,df[col][df[col] == '?'].count())

race 0
gender 0
age 0
diag_1 0
diag_2 0
diag_3 0
max_glu_serum 0
A1Cresult 0
metformin 0
repaglinide 0
nateglinide 0
chlorpropamide 0
glimepiride 0
acetohexamide 0
glipizide 0
glyburide 0
tolbutamide 0
pioglitazone 0
rosiglitazone 0
acarbose 0
miglitol 0
troglitazone 0
tolazamide 0
examide 0
citoglipton 0
insulin 0
glyburide-metformin 0
glipizide-metformin 0
glimepiride-pioglitazone 0
metformin-rosiglitazone 0
metformin-pioglitazone 0
change 0
diabetesMed 0
readmitted 0

In [21]:
df.shape

(98053, 47)

In [22]:
data = [df]
for dataset in data:
    #Filter categorical variables
    categorical_columns = [x for x in dataset.dtypes.index if dataset.dtypes[x]=='object']
    #Print frequency of categories
    
for col in categorical_columns:
    print ('\nFrequency of Categories for variable %s'%col)
    print (df[col].value_counts())

Frequency of Categories for variable race
Caucasian          75079
AfricanAmerican    18881
Hispanic            1984
Other               1484
Asian                625
Name: race, dtype: int64

Frequency of Categories for variable gender
Female             52833
Male               45219
Unknown/Invalid        1
Name: gender, dtype: int64

Frequency of Categories for variable age
[70-80)     25306
[60-70)     21809
[80-90)     16702
[50-60)     16697
[40-50)      9265
[30-40)      3548
[90-100)     2717
[20-30)      1478
[10-20)       466
[0-10)         65
Name: age, dtype: int64

Frequency of Categories for variable diag_1
428    6730
414    6374
786    3900
410    3514
486    3412
       ...
216       1
V43       1
838       1
955       1
V51       1
Name: diag_1, Length: 713, dtype: int64

Frequency of Categories for variable diag_2
428    6517
276    6513
250    5412
427    4919
401    3613
       ...
316       1
963       1
506       1
944       1
927       1
Name: diag_2, Length: 740, dtype: int64

Frequency of Categories for variable diag_3
250    11208
401     8090
276     5097
428     4491
427     3865
       ...
657        1
992        1
732        1
951        1
971        1
Name: diag_3, Length: 786, dtype: int64

Frequency of Categories for variable max_glu_serum
None    92845
Norm     2532
>200     1449
>300     1227
Name: max_glu_serum, dtype: int64

Frequency of Categories for variable A1Cresult
None    81860
>8       7631
Norm     4854
>7       3708
Name: A1Cresult, dtype: int64

Frequency of Categories for variable metformin
No        78808
Steady    17677
Up         1017
Down        551
Name: metformin, dtype: int64

Frequency of Categories for variable repaglinide
No        96530
Steady     1371
Up          107
Down         45
Name: repaglinide, dtype: int64

Frequency of Categories for variable nateglinide
No        97362
Steady      657
Up           23
Down         11
Name: nateglinide, dtype: int64

Frequency of Categories for variable chlorpropamide
No        97970
Steady       76
Up            6
Down          1
Name: chlorpropamide, dtype: int64

Frequency of Categories for variable glimepiride
No        93066
Steady     4488
Up          315
Down        184
Name: glimepiride, dtype: int64

Frequency of Categories for variable acetohexamide
No        98052
Steady        1
Name: acetohexamide, dtype: int64

Frequency of Categories for variable glipizide
No        85769
Steady    10991
Up          752
Down        541
Name: glipizide, dtype: int64

Frequency of Categories for variable glyburide
No        87792
Steady     8932
Up          791
Down        538
Name: glyburide, dtype: int64

Frequency of Categories for variable tolbutamide
No        98031
Steady       22
Name: tolbutamide, dtype: int64

Frequency of Categories for variable pioglitazone
No        90955
Steady     6756
Up          227
Down        115
Name: pioglitazone, dtype: int64

Frequency of Categories for variable rosiglitazone
No        91887
Steady     5908
Up          174
Down         84
Name: rosiglitazone, dtype: int64

Frequency of Categories for variable acarbose
No        97754
Steady      286
Up           10
Down          3
Name: acarbose, dtype: int64

Frequency of Categories for variable miglitol
No        98016
Steady       31
Down          4
Up            2
Name: miglitol, dtype: int64

Frequency of Categories for variable troglitazone
No        98050
Steady        3
Name: troglitazone, dtype: int64

Frequency of Categories for variable tolazamide
No        98016
Steady       36
Up            1
Name: tolazamide, dtype: int64

Frequency of Categories for variable examide
No    98053
Name: examide, dtype: int64

Frequency of Categories for variable citoglipton
No    98053
Name: citoglipton, dtype: int64

Frequency of Categories for variable insulin
No        45943
Steady    29368
Down      11843
Up        10899
Name: insulin, dtype: int64

Frequency of Categories for variable glyburide-metformin
No        97384
Steady      660
Up            6
Down          3
Name: glyburide-metformin, dtype: int64

Frequency of Categories for variable glipizide-metformin
No        98040
Steady       13
Name: glipizide-metformin, dtype: int64

Frequency of Categories for variable glimepiride-pioglitazone
No        98052
Steady        1
Name: glimepiride-pioglitazone, dtype: int64

Frequency of Categories for variable metformin-rosiglitazone
No    98053
Name: metformin-rosiglitazone, dtype: int64

Frequency of Categories for variable metformin-pioglitazone
No        98052
Steady        1
Name: metformin-pioglitazone, dtype: int64

Frequency of Categories for variable change
No    52774
Ch    45279
Name: change, dtype: int64

Frequency of Categories for variable diabetesMed
Yes    75351
No     22702
Name: diabetesMed, dtype: int64

Frequency of Categories for variable readmitted
NO     52338
>30    34649
<30    11066
Name: readmitted, dtype: int64

In [23]:
# Drop rows with "Unknown/Invalid" in the gender column
df = df[df['gender'] != 'Unknown/Invalid']

# Reset the index of the DataFrame if needed
df.reset_index(drop=True, inplace=True)

In [24]:
data = [df]
for dataset in data:
    #Filter categorical variables
    categorical_columns = [x for x in dataset.dtypes.index if dataset.dtypes[x]=='object']
    #Print frequency of categories
    
for col in categorical_columns:
    print ('\nFrequency of Categories for variable %s'%col)
    print (df[col].value_counts())

Frequency of Categories for variable race
Caucasian          75079
AfricanAmerican    18881
Hispanic            1984
Other               1483
Asian                625
Name: race, dtype: int64

Frequency of Categories for variable gender
Female    52833
Male      45219
Name: gender, dtype: int64

Frequency of Categories for variable age
[70-80)     25305
[60-70)     21809
[80-90)     16702
[50-60)     16697
[40-50)      9265
[30-40)      3548
[90-100)     2717
[20-30)      1478
[10-20)       466
[0-10)         65
Name: age, dtype: int64

Frequency of Categories for variable diag_1
428    6730
414    6373
786    3900
410    3514
486    3412
       ...
216       1
V43       1
838       1
955       1
V51       1
Name: diag_1, Length: 713, dtype: int64

Frequency of Categories for variable diag_2
428    6517
276    6513
250    5412
427    4919
401    3613
       ...
316       1
963       1
506       1
944       1
927       1
Name: diag_2, Length: 740, dtype: int64

Frequency of Categories for variable diag_3
250    11208
401     8089
276     5097
428     4491
427     3865
       ...
657        1
992        1
732        1
951        1
971        1
Name: diag_3, Length: 786, dtype: int64

Frequency of Categories for variable max_glu_serum
None    92844
Norm     2532
>200     1449
>300     1227
Name: max_glu_serum, dtype: int64

Frequency of Categories for variable A1Cresult
None    81859
>8       7631
Norm     4854
>7       3708
Name: A1Cresult, dtype: int64

Frequency of Categories for variable metformin
No        78807
Steady    17677
Up         1017
Down        551
Name: metformin, dtype: int64

Frequency of Categories for variable repaglinide
No        96529
Steady     1371
Up          107
Down         45
Name: repaglinide, dtype: int64

Frequency of Categories for variable nateglinide
No        97361
Steady      657
Up           23
Down         11
Name: nateglinide, dtype: int64

Frequency of Categories for variable chlorpropamide
No        97969
Steady       76
Up            6
Down          1
Name: chlorpropamide, dtype: int64

Frequency of Categories for variable glimepiride
No        93065
Steady     4488
Up          315
Down        184
Name: glimepiride, dtype: int64

Frequency of Categories for variable acetohexamide
No        98051
Steady        1
Name: acetohexamide, dtype: int64

Frequency of Categories for variable glipizide
No        85769
Steady    10990
Up          752
Down        541
Name: glipizide, dtype: int64

Frequency of Categories for variable glyburide
No        87791
Steady     8932
Up          791
Down        538
Name: glyburide, dtype: int64

Frequency of Categories for variable tolbutamide
No        98030
Steady       22
Name: tolbutamide, dtype: int64

Frequency of Categories for variable pioglitazone
No        90955
Steady     6755
Up          227
Down        115
Name: pioglitazone, dtype: int64

Frequency of Categories for variable rosiglitazone
No        91886
Steady     5908
Up          174
Down         84
Name: rosiglitazone, dtype: int64

Frequency of Categories for variable acarbose
No        97753
Steady      286
Up           10
Down          3
Name: acarbose, dtype: int64

Frequency of Categories for variable miglitol
No        98015
Steady       31
Down          4
Up            2
Name: miglitol, dtype: int64

Frequency of Categories for variable troglitazone
No        98049
Steady        3
Name: troglitazone, dtype: int64

Frequency of Categories for variable tolazamide
No        98015
Steady       36
Up            1
Name: tolazamide, dtype: int64

Frequency of Categories for variable examide
No    98052
Name: examide, dtype: int64

Frequency of Categories for variable citoglipton
No    98052
Name: citoglipton, dtype: int64

Frequency of Categories for variable insulin
No        45942
Steady    29368
Down      11843
Up        10899
Name: insulin, dtype: int64

Frequency of Categories for variable glyburide-metformin
No        97383
Steady      660
Up            6
Down          3
Name: glyburide-metformin, dtype: int64

Frequency of Categories for variable glipizide-metformin
No        98039
Steady       13
Name: glipizide-metformin, dtype: int64

Frequency of Categories for variable glimepiride-pioglitazone
No        98051
Steady        1
Name: glimepiride-pioglitazone, dtype: int64

Frequency of Categories for variable metformin-rosiglitazone
No    98052
Name: metformin-rosiglitazone, dtype: int64

Frequency of Categories for variable metformin-pioglitazone
No        98051
Steady        1
Name: metformin-pioglitazone, dtype: int64

Frequency of Categories for variable change
No    52774
Ch    45278
Name: change, dtype: int64

Frequency of Categories for variable diabetesMed
Yes    75350
No     22702
Name: diabetesMed, dtype: int64

Frequency of Categories for variable readmitted
NO     52337
>30    34649
<30    11066
Name: readmitted, dtype: int64

Note: Variables (drugs named citoglipton and examide), all records have the same value. So essentially these cannot provide any interpretive or discriminatory information for predicting readmission so we decided to drop these two variables

In [25]:
df = df.drop(['citoglipton', 'examide'], axis = 1)

In [29]:
df.shape

(98052, 45)

### Feature Engineering

* Service utilization: The data contains variables for number of inpatient (admissions), emergency room visits and outpatient visits for a given patient in the previous one year. These are (crude) measures of how much hospital/clinic services a person has used in the past year. We added these three to create a new variable called service utilization (see figure below). The idea was to see which version gives us better results. Granted, we did not apply any special weighting to the three ingredients of service utilization but we wanted to try something simple at this stage.

In [31]:
df['service_utilization'] = df['number_outpatient'] + df['number_emergency'] + df['number_inpatient']

* Number of medication changes: The dataset contains 23 features for 23 drugs (or combos) which indicate for each of these, whether a change in that medication was made or not during the current hospital stay of patient. Medication change for diabetics upon admission has been shown by previous research to be associated with lower readmission rates. We decided to count how many changes were made in total for each patient, and declared that a new feature. The reasoning here was to both simplify the model and possibly discover a relationship with number of changes regardless of which drug was changed.

In [32]:
import pandas as pd

# Assuming you have a DataFrame called df
keys = ['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'glipizide', 'glyburide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'insulin', 'glyburide-metformin', 'tolazamide', 'metformin-pioglitazone', 'metformin-rosiglitazone', 'glimepiride-pioglitazone', 'glipizide-metformin', 'troglitazone', 'tolbutamide', 'acetohexamide']

# Create temporary columns and compute values
for col in keys:
    df[col + 'temp'] = df[col].map({'No': 0, 'Steady': 0}).fillna(1)

# Compute 'numchange' column
df['numchange'] = df[[col + 'temp' for col in keys]].sum(axis=1)

# Drop temporary columns
df.drop(columns=[col + 'temp' for col in keys], inplace=True)

# Compute value counts of 'numchange' column
numchange_counts = df['numchange'].value_counts()

In [33]:
numchange_counts

0.0    71309
1.0    25350
2.0     1281
3.0      107
4.0        5
Name: numchange, dtype: int64

The code computes the number of medication changes for each entry in a dataset and provides the count of unique values representing the frequency of medication changes.

* Encoding some variables: The original dataset used string values for gender, race, medication change, and each of the 23 drugs used. To better fit those variables into our model, we interpret the variables to numeric binary variables to reflect their nature. For example, we encoded the “ medication change ” feature from “No” (no change) and “Ch” (changed) into 0 and 1.

In [34]:
df['change'] = df['change'].replace('Ch', 1)
df['change'] = df['change'].replace('No', 0)
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df['diabetesMed'] = df['diabetesMed'].replace('Yes', 1)
df['diabetesMed'] = df['diabetesMed'].replace('No', 0)
# keys is the same as before
for col in keys:
    df[col] = df[col].replace('No', 0)
    df[col] = df[col].replace('Steady', 1)
    df[col] = df[col].replace('Up', 1)
    df[col] = df[col].replace('Down', 1)

We will also reduced both A1C test result and Glucose serum test result into categories of Normal, Abnormal and Not tested.

In [35]:
df['A1Cresult'] = df['A1Cresult'].replace('>7', 1)
df['A1Cresult'] = df['A1Cresult'].replace('>8', 1)
df['A1Cresult'] = df['A1Cresult'].replace('Norm', 0)
df['A1Cresult'] = df['A1Cresult'].replace('None', -99)
df['max_glu_serum'] = df['max_glu_serum'].replace('>200', 1)
df['max_glu_serum'] = df['max_glu_serum'].replace('>300', 1)
df['max_glu_serum'] = df['max_glu_serum'].replace('Norm', 0)
df['max_glu_serum'] = df['max_glu_serum'].replace('None', -99)